
*{
  margin:0;
  padding:0;
  
}
.navbar {
  background: linear-gradient(#e66465, #9198e5);
  height: 50px;
  display: flex;
  font-size: 0.9rem;
  
  
}
.navbar-logo{
  position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    font-size: 0.9rem;
}




@media screen and (max-width: 1960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 90vh;
    position: absolute;
    top: 31px;
    right: 100%;
    opacity: 2;
    transition: all 0.5s ease;
  }
  

  .nav-menu.active {
    background-color:rgb(209, 209, 209);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: left;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: slateblue;
    color: white;
    border-radius: 0;
  }

  
  .menu-icon {
    display: block;
    position: absolute;
    transform: translate(-50%, -20%);
    font-size: 2rem;
    cursor: pointer;
  }

  

  

  
  


}


